@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-comic-print {
  background-image: url("/4172-modified.jpg"); /* Update with your image path */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Center the background */
}
